.u-section-1 {
  background-image: url("images/faseeh-fawaz-Dt1vFAPZmUI-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 833px;
}

.u-section-1 .u-group-1 {
  width: 960px;
  min-height: 513px;
  margin: 98px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 112px 14px 0;
}

.u-section-1 .u-text-2 {
  margin: 220px 14px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    font-style: italic;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 809px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 307px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  width: 482px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 6px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 307px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  width: 464px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 6px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 307px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  width: 253px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-text-1 {
    width: 240px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-2 .u-text-3 {
    width: 240px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-2 .u-text-5 {
    width: 240px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -301px;
    margin-bottom: -301px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1867px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1893px;
  }
}.u-section-3 {
  min-height: 518px;
}

.u-section-3 .u-gallery-1 {
  height: 518px;
  grid-gap: 10px;
  margin: 0 auto -20px 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-2 {
  object-position: 27.4% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 428px;
  }

  .u-section-3 .u-gallery-1 {
    height: 427px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1309px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1308px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 3925px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3924px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 2472px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2471px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 438px;
}

.u-section-4 .u-slider-1 {
  width: 1140px;
  margin-top: 63px;
  margin-bottom: 0;
  min-height: 375px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-icon-1 {
  height: 99px;
  width: 99px;
  margin: 59px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 7px 26px 8px 25px;
}

.u-section-4 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-4 .u-icon-3 {
  height: 100px;
  width: 100px;
  margin: 58px auto 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 7px 26px 8px 25px;
}

.u-section-4 .u-icon-4 {
  font-size: 0.7em;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-4 .u-icon-5 {
  height: 97px;
  width: 97px;
  margin: 61px auto 0 470px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 23px auto 0;
  padding: 1px 13px 2px;
}

.u-section-4 .u-icon-6 {
  font-size: 0.7em;
}

.u-section-4 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-4 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    width: 940px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-slider-1 {
    width: 340px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 145px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 629px;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 60px auto 60px 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 432px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/Knipsel2.PNG");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 11px 0 12px;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(255, 0, 0) !important;
  margin: 12px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/816188-37481-ngmmubkciz-14698185091.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 11px 0 12px;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(255, 0, 0) !important;
  margin: 12px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("images/AhmedDeedatImage.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 11px 0 12px;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 0, 0) !important;
  margin: 12px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-5 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-5 .u-image-3 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }
}.u-section-6 {
  background-image: url("images/marcus-dall-col-4ulffa6qoKA-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 671px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 719px;
  margin: 60px auto 53px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 432px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 81px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(92, 107, 192) !important;
  animation-duration: 1000ms;
  margin: 33px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 36px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 119px;
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-6 .u-text-2 {
  margin: 15px 114px 0 123px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 73px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 29px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 54px;
    margin-right: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 30px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}